{% extends "base.html" %} {% block title %}About{% endblock %}

{% block content %}
<br />
<h1 align="center">About IceMaster</h1>
<br />
<h3>Our mission</h3>
    <br />
    <h5>
    We aim to cultivate health life and benefits of cold exposure.<br>
    So we decided to create and develop a tool that can help beginners
    and advanced cold practitioners to record their progress.<br>
    That's how IceMaster was created.<br>
    </h5>
    <br />
    <h3>
    Our team:
    </h3>
    <br />
    <h5>
    Marcin Kosiba<br />
    Andrzej Midura<br />
    Piotr Pyrczak<br />
    </h5>
{% endblock %}