{% extends "base.html" %} {% block title %}IceMaster{% endblock %}

{% block content %}
<form method="POST">
    <br />
    <h1 align="center">Add New Session</h1>
        <div class="form-group">
            <label for="activity">Select type of activity</label>
            <select class="form-control" name = "activity" id="activity">
                <option>Ice Bath</option>
                <option>Cold lake</option>
                <option>Others</option>
            </select>
        </div>

        Duration(minutes)<br>
        <input type="number" step=0.1 name="time" min="0" max="300"/><br>

         Notes<br>
         <input type = "text" name = "note" class="form-control /><br>

    <div align="center">
        <button type="submit" class="btn-primary">Add Session</button>
    </div>
</form>
{% endblock %}