{% extends "base.html" %} {% block title %}IceMaster{% endblock %}

{% block content %}
<form method="POST">
    <br />
    <h1 align="center">Add New Session</h1>
         Activity<br>
        <input type = "text" name = "activity" /></br>

         Time<br>
         <input type="text" name="time" /><br>

         Notes<br>
         <input type = "text" name = "note" class="form-control /><br>

    <div align="center">
        <button type="submit" class="btn-primary">Add Session</button>
    </div>
</form>
{% endblock %}