{% extends "base.html" %} {% block title %}Weather{% endblock %}

{% block content %}
<br />
<h1 align="center">Weather</h1>
<br />

<a class="weatherwidget-io" href="https://forecast7.com/en/50d0619d94/krakow/" data-label_1="KRAKÓW" data-label_2="WEATHER" data-theme="original" >KRAKÓW WEATHER</a><br />
    <a class="weatherwidget-io" href="https://forecast7.com/en/50d0120d99/tarnow/" data-label_1="TARNOW" data-label_2="WEATHER" data-theme="original" >TARNOW WEATHER</a><br />
    <a class="weatherwidget-io" href="https://forecast7.com/en/52d2321d01/warsaw/" data-label_1="WARSZAWA" data-label_2="WEATHER" data-theme="original" >WARSZAWA WEATHER</a><br />
    <a class="weatherwidget-io" href="https://forecast7.com/en/54d3518d65/gdansk/" data-label_1="GDAŃSK" data-label_2="WEATHER" data-theme="original" >GDAŃSK WEATHER</a><br />
    <a class="weatherwidget-io" href="https://forecast7.com/en/50d0422d00/rzeszow/" data-label_1="RZESZOW" data-label_2="WEATHER" data-theme="original" >RZESZOW WEATHER</a><br />
    <a class="weatherwidget-io" href="https://forecast7.com/en/53d4314d55/szczecin/" data-label_1="SZCZECIN" data-label_2="WEATHER" data-theme="original" >SZCZECIN WEATHER</a><br />
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

{% endblock %}